rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /children/{childId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.parentId;
      allow read, write: if request.auth != null && (request.auth.uid == resource.data.parentId || request.auth.uid == childId);
    }

    match /config/app {
      allow read: if true;
    }

    match /subjectsfig/app {
      allow read: if true;
    }
  }
}
